.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Adicionando um fundo branco translúcido */
  display: flex;
  justify-content: center; /* Centralizando horizontalmente */
  align-items: center; /* Centralizando verticalmente */
}

.bounce1, .bounce2, .bounce3 {
  width: 18px;
  height: 18px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
  animation: bounce 0.6s infinite alternate;
  margin: 0 3px;
}

.bounce2 {
  animation-delay: 0.2s;
}

.bounce3 {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    transform: translateY(-20px);
  }
}